body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background: url('https://img.goodfon.com/wallpaper/big/2/9d/cvety-rouz-serdce-lyubov.webp') no-repeat center center/cover;;
}
.timer {
text-align: center;
padding: 20px;
border-radius: 10px;
box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
width: 100%;
max-width: 600px;
background-color: rgb(172, 31, 31);
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin-bottom: 20px;
    color: beige;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin-bottom: 20px;
    color: wheat
}
.countdown {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    color: rgb(19, 1, 1);
    font-size: 1.5em;
}
.countdown div {
    background-color: rgb(189, 82, 84);
    padding: 20px;
    border-radius: 8px;
    min-width: 60px;
    flex: 1;
    text-align: center;
}
.countdown div span {
    display: block;
    font-size: 1.5em;
}
.countdown div small {
    display: block;
    font-size: 1.1em;
}
.decoration {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: auto;
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
    .countdown div {
        padding: 10px;
        min-width: 50px;
    }
    .countdown div span {
        font-size: 1.2em;
    }
    .countdown div small {
        font-size: 0.7em;
    }
}
@media ( max-width: 480px) {
h1 {
    font-size: 1.2em;
}
.countdown div {
    padding: 5px;
    min-width: 40px;
}
.countdown div span {
    font-size: 0.6em;
}
.countdowndiv small {
    font-size: 0.6;
}
}
